/* การจัดองค์ประกอบตรงกลางจอ */
html,
body {
    height: 100%;
    margin: 0;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.textlogo h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.btncontainer{
    display: flex;
    justify-content: center;
}
.buttonlink a{
    margin: 10px;
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
